# 使用python版本 3.12.8
toml==0.10.2
pytest==8.3.4
pytest-check==2.4.1
allure-pytest==2.13.5
allure-python-commons~=2.13.5
python-dateutil==2.9.0.post0
airtest==1.3.5
pocoui==1.0.94
#ios用 tidevice 安装airtest会自动引入
scikit-image==0.25.2
pyzbar==0.1.9
opencv-python~=4.11.0